#top-div{
    background-color: black;
    height: 5%;
    position: fixed;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
 }

.mail-contact-no{
    position: relative;
    bottom: 10px;
    left: 350px;
}


.top-icons{
    height: 20px;
    position: relative;
    top: 5px;
}

#header-icon{
    height: 90px;
    position: relative;
    left: 400px;
}